*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*{
    font-family: 'Work Sans', sans-serif;
}
/* header */
header{
    background-color: rgba(240, 236, 222, 0.8);
    padding: 20px 50px;
}
nav{
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: space-around;
}
nav ul{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 40px;

}
nav ul li, nav ul li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.nav-header{
    font-weight: 700;
    color: #30302f;
    font-size: 2rem;
    user-select: none;
}
/* section banner in header */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.banner-description, .banner-img{
    width: 80%;
}
.banner-description{
    padding: 50px;
    text-align: center;
}
.banner-header{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 15px;
    padding: 10px;
}
.banner-para{
    font-size: 1.1rem;
    padding: 20px;
}
.banner-img img{
    width: 100%;
    object-fit: cover;
}
.btn-primary{
    padding: 18px 28px;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background-color: #bb7900;
    color: #fff;
    margin-top: 15px;
}
.main{
    width: 80%;
    margin: 70px auto;
}
.team-gallery, .team-photo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;


}
.team-intro{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
}
.team-head{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
}
.futures{
    display: grid;
    grid-template-columns: 50% calc(50% - 50px);
    gap: 50px;
    margin: 50px 0;
}
.futures-title{
    padding: 10px;
}
.futures-head{
    border-left: 5px solid #FF900E;
    padding-left: 15px;
}
.futures-box{
    padding: 10px 25px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.futures-title p, .futures-box p{
    color: #727272;
    padding-top: 25px;
}
.futures-images{
    position: relative;
}
.futures-images img{
    width: 100%;
}
.plus10-btn{
    padding: 30px 50px;
    position: absolute;
    bottom: 0;
    left: -25px;
    background-color: #FF900E;
    color: #fff;
    border-radius: 10px;
    text-align: center;
}
.plus10-btn h1{
    font-weight: 700;
    font-size: 3.5em;
}
.our-sponsors{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.some-facts, .sponsor-box-1{
    padding: 50px 10px;
    text-align: center;
}

.some-fact-box, .sponsor-box-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}

.sponsor-box-2{
    justify-content: space-between !important;
    width: 100%;
    padding: 10px;
}
.fact-item{
    text-align: center;
    padding: 1em;
}
footer p{
    transition: color .5s ease-in-out 50ms;
}
footer:hover p{
    color: #000;
}
/* Responsive render */
@media only screen and (max-width: 576px){
    header, .banner-description, .team-intro, .team-gallery, .futures-box{
        padding: 10px;
    }
    nav, nav ul{
        grid-template-columns: auto;
    }
    .nav-header{
        font-size: 1.2em;
    }
    .banner-header{
        font-size: 1.5em;
    }
    .banner-description, .banner-img{
        width: 100%;
    }
    .btn-primary{
        padding: 10px 15px;

    }
    .main{
        width: 100%;
        padding: 10px;
    }
    .team-gallery, .some-fact-box{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .team-photo, .futures, .team-photo img{
        grid-template-columns: 1fr;
        margin: 0;
        width: 100%;
    }
    .plus10-btn h1{
        font-size: 1.5em;
    }
    body{
        padding: 10px;
        margin: 0;
    }
    .sponsor-box-2 img{
        width: 50px;
    }
}
@media only screen and (min-width: 576px) and (max-width: 992px){
    nav, .team-gallery{
        grid-template-columns: 1fr;
    }
    .main{
        width: 100%;
    }
    .team-gallery{
        padding: 10px;
    }
    .sponsor-box-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .team-photo img{
        width: 280px;
    }
    .sponsor-box-2 img{
        width: 100px;
    }
    
}